@model WebAppLocalSIS2420.Models.Ambientes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ambientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAmbiente" />
            <div class="form-group">
                <label asp-for="Fotos" class="control-label"></label>
                <input asp-for="Fotos" class="form-control" />
                <span asp-validation-for="Fotos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreAmbiente" class="control-label"></label>
                <input asp-for="NombreAmbiente" class="form-control" />
                <span asp-validation-for="NombreAmbiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zona" class="control-label"></label>
                <input asp-for="Zona" class="form-control" />
                <span asp-validation-for="Zona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarima" class="control-label"></label>
                <select asp-for="Tarima" class="form-control"></select>
                <span asp-validation-for="Tarima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

